
@{
    Layout = null;
}

<h3>Mvc Kamp Tablo Örneği - Kategori</h3>
<br />
<table class="form-control">
    <tr>
        <th>Kategori ID</th>
        <th>Kategori Ad</th>
        <th>Kategori Açıklama</th>
        <th>Kategori Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Açıklama</td>
        <td>True</td>
    </tr>
</table>
